/* Navigation Bar Styles */
.welcome-name {
  color: black;
  padding-left: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #77EEF7, #FFC0CB);
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-links {
    display: flex;
    gap: 1.5rem;
  }
  
  .navbar-link {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar-link:hover {
    color: #2AC9D6;
  }
  
  .logout-button {
    background-color: #77EEF7;
    font-family: 'Space Grotesk', sans-serif;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  
  /* Main Content Styles */
  .dashboard-container {
    font-family: Arial, sans-serif;
  }
  
  .content {
    padding: 2rem;
  }