.title {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 20px;
  }

/* General page styling */
.music-playlists {
    margin: 0;
    text-align: center;
  }

.youtube-video {
    width: 100%;
    height: 100%;
    max-width: 800px; /* Limit the width of the video */
    margin: 0 auto; /* Center the video */
  }

.description {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    background-color: #FFC0CB;
    font-size: 1rem;
    margin-bottom: 20px;
  }